#numero_text{
    padding: 10px;
}

#fieldset{
    border-width: 0px;
    margin-top: 10px;
}

#numero{
    margin-right: 10px;
}

button{
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}

#resultado{
    margin-top: 10px;
}