#footer{
    height: 100px;
    margin-bottom: 0px;
    margin-top: 200px;
    background-color: #292929;
    color: white;
    align-items: center;
    display: flex;
}

#copyright{
    align-items: center;
    margin-left: 520px;
}
